<section class="cc-section">
    <div class="container text-wrapper">
        <div class="row">
            <div class="col-12 title">
                <h1>
                    {{selectedMovie.Title}}
                </h1>
                <img src="https://image.flaticon.com/icons/png/512/0/340.png" routerLink="/home">
            </div>
        </div>
        <div class="row info-wrapper">
            <div class="col-12 col-md-6 col-lg-6 movie-poster">
                <img src="{{selectedMovie.Poster}}">
            </div>
            <div class="col-12 col-md-6 col-lg-6 py-4 movie-plot">
                <b>Sinopsis: </b>
                <p>
                    {{selectedMovie.Plot}}
                </p>
                <p>
                    <b>Director: </b>{{selectedMovie.Director}}
                </p>
                <p>
                    <b>Actores: </b> {{selectedMovie.Actors}}
                </p>
                <p>
                    <b>Premios: </b> {{selectedMovie.Awards}}
                </p>
                <p>
                    <b>Género: </b>
                </p>
                <div class="genre-box">
                    <p *ngFor="let genre of selectedMovie.Genre">
                        {{genre}}
                    </p>
                </div>
                <p>
                    <b>Año: </b> {{selectedMovie.Year}}
                </p>
                <p>
                    <b>Duració: </b> {{selectedMovie.Runtime}}
                </p>
                <div class="movie-book">
                    <button class="btn btn-block cc-btn cc-btn--primary" *ngIf="selectedMovie.Available"
                    (click)="reservar(selectedMovie)">
                        Reservar
                    </button>
                    <h4 *ngIf="selectedMovie.ComingSoon">
                        Próximamente: {{selectedMovie.Released}}
                    </h4>
                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-12 title">
                <h1>
                    Movie Scenes
                </h1>
            </div>
        </div>
        <div class="row imgs-wrapper">
            <div class="col-12 movie-imgs">

                <img *ngFor="let imgMovie of selectedMovie.Images" src="{{imgMovie}}">

            </div>
        </div>
    </div>
</section>